.section-landing{
    padding-top: 10%;
    text-align: center;
    background-image: url("../../images/hero.png");
    padding-bottom:10%;
    margin-bottom:5rem;
}

.section-landing h1{
    letter-spacing: 0.5rem;
}

.section-landing p{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.text-red{
    letter-spacing:0.3rem;
}

/*---------features-section--------*/

.card{
    height:100%;
    display:flex;
    flex-direction:column;
}

.features-image{
    width:100%;
    height:250px;
    object-fit:cover;
    margin-bottom:1.5rem;
}

.row-features>div{
    display:flex;
}
